#tabellone {
    border-collapse: collapse;
    margin: 0 auto;
}

#tabellone td {
    border: 1px solid black;
    width: 5vw;
    height: 5vw;
    text-align: center;
    font-weight: bold;
}

body {
    font-family: 'Montserrat', sans-serif;
  }
  
.evidenziato{
    background-color: violet;
}

h1 {
    display: block;
    margin: 0 auto;
    background-color: rgb(80, 215, 215);
    border-style: solid;
    border-color: rgb(30, 172, 125);
    height: 3vw;
    width: 67.2vw;
    font-size: 2vw;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    text-align: center;
  
}

button {
    display: block;
    margin: 0 auto;
    background-color: rgb(80, 215, 215);
    border-style: solid;
    border-color: rgb(30, 172, 125);
    height: 3vw;
    width: 67.4vw;
    font-size: 2vw;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
  }

p{
    text-align: center
    
}